body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

i {
    font-size: 30px;
    line-height: 5.0;
    display: inline-block;
}

.fab {
    margin: 10px;
    margin-left: 5px;
}

.fab:hover {
    background: rgb(183, 0, 255);
    cursor: pointer;
}

.icons {
    padding-top: 125px;
    display: flex;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 41px;
    margin-left: 25px;
    line-height: 1.0;
}

a {
    color: white;
    text-decoration: none;
}

img {
    padding-bottom: 50px;
}

.title1,
.title2 {
    display: block;
}

.title1:after {
    display: inline-block;
    content: '';
    width: 66px;
    height: 5px;
    background-color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}

.title2 {
    margin-left: 66px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    max-height: 1460px;
}

h4 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0px;
}

.hello {
    text-decoration: underline;
    text-transform: uppercase;
}

.container-top {
    background-color: #f7f7f1;
    text-align: center;
    height: 380px;
    padding: 115px;
}

.container-mid {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    background-color: #f7f7f1;
    height: 720px;
}

.container-mid a {
    color: black;
}

.box1 {
    text-align: left;
    line-height: 0.9;
    font-size: 20px;
    padding-left: 70px;
    margin: -5px;
}

.box2 {
    padding-right: 69px;
}

.container-bot {
    background-image: url("bg--footer.jpg");
    background-size: cover;
    max-width: auto;
    height: 360px;
    text-align: center;
    color: white;
    padding: 88px;
}