body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 16px;     
    background-color: black; 
    padding: 10%; 
}  
.items{
    background-color: #1D1B1C;
    height: 100%;   
    padding: 10%; 
}
.container{     
    width: 100%;
    margin: 0 auto;
    max-width: 1170px; 
}  
.row {

}
.row:after {
    content: '';
    display: block;
    clear: both;
}
.col {
    float: left;
    text-align: center;
}
.col-4 {
    width: calc( (100% / 12) * 4 );
}
img{
    width: 35px;
    height: 35px;
    padding: 25%;
}
.border {
    width: 70px;	
    height: 70px; 
    background: #fc0;          
    border-radius: 20px;  
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    position: relative;   
    left: 150px;
}
h1{
    font-weight: lighter;
}