body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 16px;       
    background-color: black;
}    

.container{     
    width: 175%;
    margin: 0 auto;
    max-width: 1000px; 
}  
.d-flex {
    display: flex !important;
    margin: 100px auto;   
    background-color: #1D1B1C; 
}  
* {
    box-sizing: border-box;
}
img{
    width: 30px;
    height: 30px;
    align-content: center;
}
.first{
    text-align: center;
    padding: 10%;    
}
.second{
    text-align: center;
    padding: 10%;    
}
.third{
    text-align: center;
    padding: 10%;    
}
.border {
    width: 70px;	
    height: 70px; 
    background: #fc0; 
    outline: 2px solid #000;     
    border-radius: 10px;  
    position: relative;   
    left: 150px;
}
h1{
    font-weight: lighter;
}