body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 16px;       
    font-weight: lighter;
    background-color: black;
}    
.grid-container{     
    display: grid;    
    grid-template-areas: 
      'header header header' 
      'center center center' 
      'footer footer footer';
      text-align: center;
      padding: 250px;
}
img{
    width: 10px;
    height: 10px;
}
.border {
    width: 100px;	
    height: 100px; 
    background: #fc0; 
    outline: 2px solid #000;     
    border-radius: 10px; 
}
.border:before {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    border-top: 2px solid deeppink;
    border-left: 2px solid deeppink;  
}
.border:after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    border-bottom: 2px solid deepskyblue;
    border-right: 2px solid deepskyblue; 
    left: 20%;
    top: 20%;
}