body{
    font-family: 'Courier New', Courier, monospace;
    background-color:#990909;
}
.black{
    background-color: black;
    text-align: center;
    color: white;
}
.red{
    background-color:#990909;
    text-align: center
}
.dark-red{
    background-color:#7D0909;
    width: 20%;
    vertical-align: top;
}
.black-red{
    background-color:#990909;
    color: white;
    vertical-align: top;
}
.grey{
    background-color:#BCBEBD;
    text-align: center;
}
.white{
    background-color:#E3DDDD;
    width: 20%;
    vertical-align: top;
}
.orange{
    background-color:#E95B11;
    text-align: center;
    color: white;
}
.width{
    width: 100%;
}
ol {
    list-style:none;
    width: 100%;
    }
.porange{
    color:#EC642A 
}