.container-first {
    background-color: #F6F6F6;
    text-align: center;
    padding: 10px;
}

.container-second {
    background-color: white;
    text-align: center;
    padding: 10px;

}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-weight: 500;
    text-transform: uppercase;
}

hr {
    width: 3%;
    height: 2px;
    border: none;
    color: grey;
    background-color: grey;
}

p {
    font-size: 14px;
    font-weight: 100;
    padding: 3%;
    line-height: 150%;
}

.text {
    text-align: left;
    line-height: 50%;
}

strong {
    font-weight: 800;
}

img {
    display: block;
    margin: 0 auto;
}

.imag:hover .see {
    display: none;
}

.imag .unseen {
    display: none;
}

.imag:hover .unseen {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.h3-blue {
    color: #10B7DD;
    padding-top: 19px;
}

.ginger{
    width: 269px;
    height: 268px;
    margin-left: 9.25px; 
}

.ginger:hover .ginger-see {
    display: none;
}

.background:hover {
    background-color: rgb(0, 195, 255);
    width: 269px;
    height: 268px;    
}

.ginger .ginger-unseen {
    display: none;
}

.ginger:hover .ginger-unseen {
    display: block;
    margin: 0 auto;
    padding: 33px;
}

.ginger-a{
    width: 269px;
    height: 268px;
}

.ginger-a:hover .ginger-see {
    display: none;
}

.background-a:hover {
    background-color: rgb(0, 195, 255);
    width: 269px;
    height: 268px;
}

.ginger-a .ginger-unseen {
    display: none;
}

.ginger-a:hover .ginger-unseen {
    display: block;
    margin: 0 auto;
    padding: 33px;
}

.ginger-b{
    width: 269px;
    height: 268px;
    margin-right: 9.25px; 
}

.ginger-b:hover .ginger-see {
    display: none;
}

.background-b:hover {
    background-color: rgb(0, 195, 255);
    width: 269px;
    height: 268px;
    margin-right: 9.25px;     
}

.ginger-b .ginger-unseen {
    display: none;
}

.ginger-b:hover .ginger-unseen {
    display: block;
    margin: 0 auto;
    padding: 33px;
}