body {
    font-family: 'Hind', sans-serif;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 7px;
}

h3 {
    text-align: left;
}

hr {
    width: 3%;
    height: 5px;
    border: none;
    color: white;
    background-color: white;
}

.grey {
    width: 3%;
    height: 5px;
    border: none;
    color: grey;
    background-color: grey;
}

.form {
    float: left;
    width: 62%;
    margin: 0 4%;
    padding: 100px;
}

.form--button {
    width: 200px;
    height: 50px;
    border: none;
    background: #EA6852;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    margin-right: 400px;
}

.form--text {
    width: 770px;
    height: 70px;
    border-bottom-color: grey;
    border-width: 0 0 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.list {
    padding: 150px;
    margin: 0 auto;
    float: right;
    width: 32%;
    margin: 0 4%;
    
}

.fab {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 3px;
}

.fa-behance {
    background: #0E9DF9;
}

.fa-twitter-square {
    background: #51D7FD;
}

.fa-dribbble {
    background: #FA4D9C;
}

.fa-facebook {
    background: #2A62AC;
}

.fa-google-plus {
    background: #F13031;
}