.container-first {
    background-image: url("bg.jpg");
    background-size: cover;    
    box-shadow:0 0 0 550px rgba(0, 0, 0, 0.700) inset;
    padding: 100px;
    color: white;
    text-align: center;
}

.container-second {
    color: black;
    margin: 0 auto;
    text-align: center;
    padding: 100px;
}

.container-third {
    background-color: #C9C9CB;
    height: 100px;
    padding: 25px;
    width: auto;
    text-align: center;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

body {
    font-family: 'Hind', sans-serif;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 7px;
}

hr {
    width: 3%;
    height: 5px;
    border: none;
    color: white;
    background-color: white;
}

.grey {
    width: 3%;
    height: 5px;
    border: none;
    color: grey;
    background-color: grey;
}

.form {
    margin: 0 auto;
    padding: 100px;
    text-align: left;
}

.form--button {
    width: 200px;
    height: 50px;
    border: none;
    background: #EA6852;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    margin-right: 400px;
}

.form--button:hover{
    background: yellow;
    cursor: pointer;
}

.form--text {
    width: 100%;
    height: 70px;
    border-bottom-color: grey;
    border-width: 0 0 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.list {    
    padding: 150px;
    margin: 0 auto;
    text-align: right;
}

.fab {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 3px;
    text-align: center;
}

.fa-behance {
    background: #0E9DF9;
}

.fa-behance:hover{
    background:  greenyellow;
}

.fa-twitter-square {
    background: #51D7FD;
}

.fa-twitter-square:hover{
    background: greenyellow;
}

.fa-dribbble {
    background: #FA4D9C;
}

.fa-dribbble:hover{
    background:  greenyellow;
}

.fa-facebook {
    background: #2A62AC;
}

.fa-facebook:hover{
    background:  greenyellow;
}

.fa-google-plus {
    background: #F13031;
}

.fa-google-plus:hover{
    background:  greenyellow;
}